<!DOCTYPE html>
<html>
<head>
  <title>@ViewData["Title"]</title>
  <base href="/" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--Meta Start-->
  @Html.Raw(ViewData["Meta"])
  <!--Meta End-->

  <!--Links Start-->
  @Html.Raw(ViewData["Links"])
  <!--Links End-->

  <!--Styles Start-->
  @Html.Raw(ViewData["Styles"])
  <!--Styles End-->

  <style type="text/css">
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
      display: none !important;
    }

    ng\:form {
      display: block;
    }

    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
  </style>
  <link rel="alternate" href="https://betclicstage.com/a/ft/dev/mbetcliccom/sport/cashout" hreflang="be">
  <link rel="alternate" href="https://be-nl1.betclicstage.com/a/ft/dev/mbetcliccom/sport/cashout" hreflang="be-NL">
  <link rel="alternate" href="https://br.betclicstage.com/a/ft/dev/mbetcliccom/sport/cashout" hreflang="br">
  <link rel="alternate" href="https://de.betclicstage.com/a/ft/dev/mbetcliccom/sport/cashout" hreflang="de">
  <link rel="alternate" href="https://es.betclicstage.com/a/ft/dev/mbetcliccom/sport/cashout" hreflang="es">
  <link rel="alternate" href="https://cz.betclicstage.com/a/ft/dev/mbetcliccom/sport/cashout" hreflang="cs">
  <link rel="alternate" href="https://eu.betclicstage.com/a/ft/dev/mbetcliccom/sport/cashout" hreflang="en">
  <link rel="alternate" href="https://pl.betclicstage.com/a/ft/dev/mbetcliccom/sport/cashout" hreflang="pl">
  <link rel="alternate" href="https://betclicstage.biz/a/ft/dev/mbetcliccom/sport/cashout" hreflang="hu">
  <link rel="alternate" href="https://ro.betclicstage.com/a/ft/dev/mbetcliccom/sport/cashout" hreflang="ro">
  <link rel="alternate" href="https://sv.betclicstage.com/a/ft/dev/mbetcliccom/sport/cashout" hreflang="sv">
  <link rel="alternate" href="https://betclicstage.fr/a/ft/dev/mbetcliccom/sport/cashout" hreflang="FR-gb">
  <link rel="alternate" href="https://fr.betclicstage.com/a/ft/dev/mbetcliccom/sport/cashout" hreflang="fr">
  <link rel="alternate" href="https://en.betclicstage.com/a/ft/dev/mbetcliccom/sport/cashout" hreflang="en">
  <link rel="alternate" href="https://m.betclic.org/a/ft/dev/mbetcliccom/sport/cashout" hreflang="hu">
  <link rel="alternate" href="https://betclicstage.it/a/ft/dev/mbetcliccom/sport/cashout" hreflang="it">
  <link rel="alternate" href="https://pt.betclicstage.com/a/ft/dev/mbetcliccom/sport/cashout" hreflang="pt">
  <link href="https://betclicstage.com/a/sv/dev/ServiceWebResources/build/BetclicCom/Sport/mobile.min.css" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="57x57" href="https://betclick.hs.llnwd.net/e1/page/images/betclic/sport/mobile/icons/favicons//apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://betclick.hs.llnwd.net/e1/page/images/betclic/sport/mobile/icons/favicons//apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://betclick.hs.llnwd.net/e1/page/images/betclic/sport/mobile/icons/favicons//apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://betclick.hs.llnwd.net/e1/page/images/betclic/sport/mobile/icons/favicons//apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://betclick.hs.llnwd.net/e1/page/images/betclic/sport/mobile/icons/favicons//apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://betclick.hs.llnwd.net/e1/page/images/betclic/sport/mobile/icons/favicons//apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://betclick.hs.llnwd.net/e1/page/images/betclic/sport/mobile/icons/favicons//apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://betclick.hs.llnwd.net/e1/page/images/betclic/sport/mobile/icons/favicons//apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://betclick.hs.llnwd.net/e1/page/images/betclic/sport/mobile/icons/favicons//apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="https://betclick.hs.llnwd.net/e1/page/images/betclic/sport/mobile/icons/favicons//favicon-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="https://betclick.hs.llnwd.net/e1/page/images/betclic/sport/mobile/icons/favicons//favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="https://betclick.hs.llnwd.net/e1/page/images/betclic/sport/mobile/icons/favicons//favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="https://betclick.hs.llnwd.net/e1/page/images/betclic/sport/mobile/icons/favicons//favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="https://betclick.hs.llnwd.net/e1/page/images/betclic/sport/mobile/icons/favicons//favicon-32x32.png" sizes="32x32">
  <link href="https://betclicstage.com/a/ft/dev/mBetclicCom/sport/packs/components/webapp/aot/css/styles?v=KO87EOBhV6_UUMd97WboJnJrtK0VqGwzkudzf8UiaOc1" rel="stylesheet">

</head>
<body>
  @RenderBody()

  <!-- Here we're passing down any data to be used by grabbed and parsed by Angular -->
  @Html.Raw(ViewData["TransferData"])

  @RenderSection("scripts", required: false)
</body>
</html>
